<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Length Converter</title>
</head>
<body>
    <h1>Length Converter</h1>
    <form th:action="@{/length}" th:object="${conversionRequest}" method="post">
        <input type="number" th:field="*{value}" placeholder="Value"/>
        <select th:field="*{fromUnit}">
            <option value="meter">Meter</option>
            <option value="kilometer">Kilometer</option>
        </select>
        <select th:field="*{toUnit}">
            <option value="meter">Meter</option>
            <option value="kilometer">Kilometer</option>
        </select>
        <button type="submit">Convert</button>
    </form>

<! -- java object in variables from controller -->
    <div th:if="${response != null}">
        <p th:text="'Converted ' + ${response.originalValue} + ' ' + ${response.fromUnit} +
                    ' → ' + ${response.convertedValue} + ' ' + ${response.toUnit}"></p>
    </div>
</body>
</html>
